* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
    font-family: Apple Chancery, cursive;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #c0a68a;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  img{
  
    padding: auto;
    text-align:center;
    width: 1900px;
    height: 800px;
    background-position: center;
}
h2{
  
    height: 100px;
    width: 10px;
    text-align: center;
    padding: 200px;
    font-family:initial
}
d-flex{
  height: 1000px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}



.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fde3a7d7;
  padding: 1rem;
}

.form-image img {
  width: 31rem;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  margin: auto;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  background-color: #6c63ff;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #6b63fff1;
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h1::after {
  content:icon;
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 .5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 20px;
  margin:  0 15px ;
  font-weight: 600;
  color: #000000c0;
}
.continue-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #6c63ff;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #6b63fff1;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form-image {
      display: none;
  }
  .container {
      width: 50%;
  }
  .form {
      display: inline-block;
      position: relative;
  }
}

@media screen and (max-width: 1064px) {
  .container {
      width: 90%;
      height: auto;
  }
  .input-group {
      flex-direction: column;
      z-index: 5;
      padding-right: 5rem;
      max-height: 10rem;
      overflow-y: scroll;
      flex-wrap: nowrap;
      font-size: large;
  }
  .gender-inputs {
      margin-top: 2rem;
      display: flex;
      padding: 200px;
      margin: 5px;

  }
  .gender-group {
      flex-direction: column;
    
  }
  .gender-title h6 {
      margin: 0;
  }
  .gender-input {
      margin-top: 0.5rem;
      margin: 25px;
      padding: 50px;
  }
}

.principal
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.msg{
  margin: auto 600px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.mts{
  background-color: #fff;
  padding: 40px     20px; 
  width: 100px;
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px #666; 
}

.input-group{
  position: relative;
margin: 70px;
}

.input{
  padding: 10px;
width: 100%;
max-width: 300px;
box-sizing: border-box;
outline: none;

}

.form
{
  width: 800px;
  height: 700px;
  
}

area{
 margin: 35px;
  width: 200px;
  position: relative
  
}

msg{
  padding: 10px;
  width: 55px;
  height: 30px;

  
}
.um{
  width: 100px;
 
}
textarea{
  width: 300px;


}
label{
margin: auto 600px;
padding: 10px;
width: 100px;
}